<h1>Modulo de Reportes</h1>

<div class="contenedor">

    <mat-tab-group #tabRef dynamicHeight>

        <mat-tab label="Reporte por Identificaion del Cliente">
            <mat-card class="tarjeta">
                <mat-card-content>

                    <h3>Reporte por Identificaion del Cliente</h3>

                    <table>
                        <tr>
                            <td><mat-label>Id del Cliente:&nbsp;</mat-label></td>
                            <td><input matInput [(ngModel)]="identificacion" type="string" placeholder="# de Identificacion"><br/></td>
                        </tr>
                        <br/>
                        <tr>
                            <td></td>
                            <td [colSpan]="2" style="align-content: center;"><button mat-raised-button color="primary" (click)="getReportsByIdentification(identificacion)">Buscar Reporte del Cliente</button><br/></td>
                        </tr>
                    </table>

                    <br/><br/>

                    <table mat-table [dataSource]="reporteList" class="mat-elevation-z8">
                        <!-- identificacion Column -->
                        <ng-container matColumnDef="Identificacion">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
                            </ng-container>
                            <!-- nombre Column -->
                            <ng-container matColumnDef="Nombre">
                            <th mat-header-cell *matHeaderCellDef> nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>
                            <!-- numeroCuenta Column -->
                            <ng-container matColumnDef="Numero Cuenta">
                            <th mat-header-cell *matHeaderCellDef> numeroCuenta </th>
                            <td mat-cell *matCellDef="let element"> {{element.numeroCuenta}} </td>
                            </ng-container>
                            <!-- tipoCuenta Column -->
                            <ng-container matColumnDef="Tipo Cuenta">
                            <th mat-header-cell *matHeaderCellDef> tipoCuenta </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipoCuenta}} </td>
                            </ng-container>
                            <!-- saldoDisponible Column -->
                            <ng-container matColumnDef="Saldo Disponible">
                            <th mat-header-cell *matHeaderCellDef> saldoDisponible </th>
                            <td mat-cell *matCellDef="let element"> {{element.saldoDisponible}} </td>
                            </ng-container>
                            <!-- saldoMensual Column -->
                            <ng-container matColumnDef="Saldo Mensual">
                            <th mat-header-cell *matHeaderCellDef> saldoMensual </th>
                            <td mat-cell *matCellDef="let element"> {{element.saldoMensual}} </td>
                            </ng-container>


                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    </table>

                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
