.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
}

a { text-decoration: none;
   color: black;
   font-style: normal;
 }

mat-toolbar {
  font-style: oblique;
  color: black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  background-color: lightblue;
}

span {
  color: black;
}

.gap {
  margin-right: 10px;
}
