a { text-decoration: none; 
    color: black;
    font-style: bold;
}


.tarjeta {
    min-width: 50%;
}

.circular {
    border-radius: 50%;
}

.contenedor {
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}